{% load staticfiles %}

<header>
	<title>NXT4. Where will the next four years take you?</title>
	<link rel="stylesheet" type="text/css" href="{% static 'email_registration/css/style.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300'

rel='stylesheet' type='text/css'>

</header>

<body>
	<div id="head">
		<a href="/"><img id="home" src="{% static 'email_registration/images/1_full_logo.svg' %}"></a>
		<a href="https://www.facebook.com/theNXT4"><img id="fb" src="{% static 'email_registration/images/2_facebook_icon.svg' %}"></a>
		<a href="http://www.instagram.com"><img id="inst" src="{% static 'email_registration/images/3_instagram_icon.svg' %}"></a>
		<a href="https://www.twitter.com"><img id="twtr" src="{% static 'email_registration/images/4_twitter_icon.svg' %}"></a>
		<a href="https://www.youtube.com"><img id="yt" src="{% static 'email_registration/images/5_youtube_icon.svg' %}"></a>
	</div>

	<div id="middle_text">
		<h2> A Social Network Inspiring Student <br> Creativity in High School and Beyond </h2>
	</div>

	<div id="form_frame">
		<form autocomplete='off' id='email_signup' action='email_registration/confirm_submission/' method='POST'>
			{% csrf_token %}
			{{ form }}
			<input id='submit_button' type='submit' value='' />
		</form>
	</div>
	<div id="bottom_text">
		NXT4 is currently in private Beta.  Subscribe for early access.
	</div>

</body>